*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.star{
    display: inline-block;
    width: 20px;
    margin:5px 10px;
}
.FAQS{
    display: inline-block;
    position: relative;
    bottom: 15px;
}

.whitebackground {
    margin: 0px auto;
    width: 89%;
    background-color:lightgrey;
    position: relative;
    bottom: 110px;
    border-radius: 10px;
    padding:20px;
}

.question{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    max-width: 250px;
}

.answer{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 13px ;
    color: grey;
}

.FAQ1{
    position: relative;
}
.FAQ1 .plus1{
    position: absolute;
    top: 5px;
    right: 10px;
}
.FAQ2{
    position: relative;
}
.FAQ2 .plus2{
    position: absolute;
    top: 0.5px;
    right: 10px;
}
.FAQ3{
    position: relative;
}
.FAQ3 .plus3{
    position: absolute;
    top: 10px;
    right: 10px;
}
.FAQ4{
    position: relative;
}
.FAQ4 .plus4{
    position: absolute;
    top: 5px;
    right: 10px;
}

.answer{
    display: none;
}


.hidden{
    display: none;
}

@keyframes moveText {
    from { 
        top: 0; 
    }
    to { 
        top: 50%; 
    }
}


@keyframes fadeIn {
    0% { opacity: 0.3; }
    100% { opacity: 1; }
  }

.answer {
    position: relative; /* Required for 'top' to work */
}
@keyframes moveText {
    from { top: 0; }
    to { top: 50%; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Combined animation class */
.combined-animation {
    animation: moveText 1 forwards, fadeIn 1s;
}


@keyframes moveTextReverse {
    from { top: 50%; }
    to { top: 0; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.reverse-animation {
    animation: moveTextReverse 1s forwards, fadeOut 1s;
}











